<ion-content class="ion-padding" color="light">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Modules</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <% modules.forEach((module) => { %>
                <ion-item>
                    <ion-label>
                        <h3><%= module.name %></h3>
                        <p><%= module.url %></p>
                    </ion-label>
                </ion-item>
                <% }) %>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>