<ion-content class="ion-padding" color="light">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form method="POST" action="/admin/user/login">
                <ion-item>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input type="text" name="username"></ion-input>
                    <ion-note slot="helper">Enter Username</ion-note>
                    <ion-note slot="error">Invalid Username</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="text" name="password"></ion-input>
                    <ion-note slot="helper">Enter Password</ion-note>
                    <ion-note slot="error">Invalid Password</ion-note>
                </ion-item>
                <ion-item lines="none">
                    <ion-button color="success" slot="end" id="submitButton" type="submit">Login</ion-button>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>

<script src="/assets/admin/js/userLogin.js"></script>